<h2>HEROES</h2>
  <!-- <div *ngIf="hero$ | async as hero"> -->
    <label>Full Name </label> <h3>{{ hero | heroName }}</h3>
    <label>BirthDay: </label> <p>{{hero.birthday | date:'fullDate'}}</p>
    <label>Gender: </label> <p>{{hero.gender}}</p>
    <div>
      <label>Id: </label>{{ hero.id }}</div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </div>
    <p>
      <button (click)="gotoHeroes(hero)">Back</button>
    </p>


    <p>
      <button (click)="deleted(hero)">Delete</button>
    </p>
  <!-- </div> -->